@use './vars.scss' as *;
@use './fonts.scss' as *;

.artwork-title__container {
    position: fixed;
    z-index: 3000;
    display: flex;
    flex-direction: column;
}

.artwork-title__container--hide {
    display: none;
}

.artwork-title__container--desktop {
    top: 0;
    right: 1px;
}

.artwork-title__container--mobile {
    right: 0;
    bottom: 0;

    .artwork-title__border-top--middle {
        border-top: 1px solid #ddd;
    }
}

.artwork-title__container--slideshow {
    left: 0;
    bottom: 0;
    z-index: 8000;

    .artwork-title__border-top--middle {
        background: $title-text;
    }

    .artwork-title__border-middle--right {
        background: $title-text;
    }

    .artwork-title__title,
    .artwork-title__year,
    .artwork-title__medium,
    .artwork-title__size,
    .artwork-title__size--converted {
        color: $title-light;
    }
}

.artwork-title__border-top {
    display: flex;
    flex-direction: row;
}

.artwork-title__border-top--left,
.artwork-title__border-top--right {
    width: 10px;
    height: 10px;
    flex-shrink: 0;

    svg {
        fill: $title-light;
        position: absolute;
        top: 0;
    }
}

.artwork-title__border-top--middle {
    flex-grow: 1;
    height: 10px;
    background: $title-light;
    border-top: 1px solid $title-dark;
}

.artwork-title__border-top--show {
    border-bottom: 1px solid $title-dark;
}

.artwork-title__border-middle {
    display: flex;
    flex-direction: row;
}

.artwork-title__border-middle-left--show {
    border-right: 1px solid $title-dark;
}   

.artwork-title__border-middle--left {
    width: 10px;
    height: auto;
    background: $title-light;
}

.artwork-title__inside {
    padding: 4px;
    background: $title-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-width: 110px;
}

.artwork-title__series-box {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
}

.artwork-title__inside--desktop {
    padding: 10px 10px 0 5px;
    align-items: flex-start;
}

.artwork-title__inside--mobile {
    padding: 0 10px 10px 5px;
    align-items: flex-start;
}

.artwork-title__inside--slideshow {
    padding: 0 5px 10px 5px;
    align-items: flex-start;
    background: $title-text;
}

.artwork-title__title {
    @include heading-font;
    font-size: 22px;
    color: $title-text-dark;
    padding: 0 0 4px;
    margin: 0;
    line-height: 1;

    @media screen and (min-width: $break-s) {
        font-size: 24px;
    }
}

.artwork-title__year,
.artwork-title__medium,
.artwork-title__size {
    @include heading-font;
    color: $title-text;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    padding: 0;
    margin: 0;

    @media screen and (min-width: $break-s) {
        font-size: 16px;
    }
}

.artwork-title__medium {
    padding-bottom: 4px;
}

.artwork-title__size--converted {
    @include heading-font;
    color: $title-text;
    font-size: 11px;
    font-weight: 200;
    line-height: 1em;
    padding: 0;
    margin: 0;

    @media screen and (min-width: $break-s) {
        font-size: 12px;
    }
}

.artwork-title__border-middle--right {
    width: 10px;
    flex-grow: 1;
    background: $title-shadow;
}

.artwork-title__border-middle-right--show {
    border-left: 1px solid $title-dark;
    border-right: 1px solid $title-dark;
}

.artwork-title__border-bottom {
    display: flex;
    flex-direction: row;
}

.artwork-title__border-bottom--left,
.artwork-title__border-bottom--right {
    width: 10px;
    height: 10px;
    flex-shrink: 0;

    svg {
        fill: $title-light;
        position: absolute;
        bottom: 0;
    }
}

.artwork-title__border-bottom--middle {
    height: 10px;
    flex-grow: 1;
    background: $title-light;
}

.artwork-title__border-bottom--show {
    border-top: 1px solid $title-dark;
}