@use './vars.scss' as *;
@use './fonts.scss' as *;

.artwork-video__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 1100px;
}

.artwork-video__player-wrapper {
    position: relative;
    overflow: hidden;
}

.artwork-video__youtube-link {
    position: fixed;
    top: 12px;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    p {
        font-size: 11px;
        font-weight: 200;
        color: $svg-dark;
        padding: 5px 5px 0 0;
    }
}

.artwork-video__youtube-svg {
    width: 33px;
    height: 33px;

    svg {
        width: 100%;
        fill: red;
    }
}

.artwork-video__info-container {
    width: 90%;
    margin: 10px 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.artwork-video__youtube--play {
    width: 44px;
    height: 44px;

    svg {
        fill: $background;
        width: 100%;
    }
}

.artwork-grid__info--title {
    font-size: 12px;
    text-align: right;
    font-weight: 300;
    padding: 0 0 9px;
    border-bottom: 1px solid $art-image-line;

    span {
        font-weight: 600;
    }
}

.artwork-video__info-content {
    width: 90%;
    margin: 20px 0 50px auto;
    max-width: 600px;

    h1 {
        @include heading-font;
        font-size: 20px;
        color: $art-image-text-dark;
        padding: 5px 0;
        letter-spacing: 0.05em;
    }

    h2 {
        @include heading-font;
        font-size: 16px;
        color: $art-image-text-light;
        padding: 5px 0;
        letter-spacing: 0.05em; 
    }

    li {
        @include body-font;
        font-size: 16px;
        padding: 4px 0;
        font-weight: 300;
        color: $art-image-text-dark;

        &:before {
            content: '•';
            display: inline-block;
            margin-right: 5px; 
            color: $art-image-text-light; 
            font-size: 1.5em; 
        }
    }

    p {
        @include body-font;
        text-indent: 14px;
        color: $art-image-text-dark;
        line-height: 1.4;
        font-weight: 400;
        padding: 0 0 7px;
    }
}