@use './vars.scss' as *;
@use './fonts.scss' as *;

.artworks-timeline__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;

    @media screen and (min-width: $break-m) {
        flex-direction: column;
    }
}

.artworks-timeline__artworks-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    overflow: scroll;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        background: transparent;
        width: 0px;
    }

    @media screen and (min-width: $break-m) {
        flex-direction: column;
    }
}

.artworks-timeline__artworks {
    display: flex;
    flex-direction: column;
    margin-top: 0;

    @media screen and (min-width: $break-m) {
        flex-direction: row;
        margin-top: 75px;
    }
}

.artworks-timeline__artwork-inside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    @media screen and (min-width: $break-m) {
        flex-direction: column;
    }
}

.artworks-timeline__artwork--container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bbb;
    border: 1px solid black;
}

.artworks-timeline__timeline-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        background: transparent;
        width: 0px;
    }

    @media screen and (min-width: $break-m) {
        flex-direction: row;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}

.artworks-timeline__line,
.artworks-timeline__small-lines,
.artworks-timeline__small-line {
    position: absolute;
    background-color: $timeline;
}

.artworks-timeline__small-line {
    left: 18px;

    @media screen and (min-width: $break-m) {
        top: 18px;
    }
}

.artworks-timeline__year-markers,
.artworks-timeline__year-marker {
    position: absolute;
}

.artworks-timeline__year-tick {
    height: 2px;
    width: 30px;
    left: 10px;
    top: 0;
    background-color: $timeline;
    position: absolute;

    @media screen and (min-width: $break-m) {
        height: 30px;
        width: 2px;
        top: 10px;
        left: 0;
    }
}

.artworks-timeline__year-label {
    position: absolute;
    right: -45px;
    top: 3px;
    @include title-font;
    font-size: 18px;
    font-weight: 700;
    color: $timeline;
    white-space: nowrap;
    background: rgba(255,255,255,.5);
    padding: 3px;

    @media screen and (min-width: $break-m) {
        bottom: -24px;
        right: -40px;
        top: 0px;
        padding: 3px 3px 0 3px;
    }
}

.artworks-timeline__controls-container {
    position: fixed;
    z-index: 3000;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.artworks-timeline__control {
    width: 44px;
    height: 43px;
    padding: 0 0 10px 10px;
    cursor: pointer;
    transform: scale(1);
    transition: all .2s ease-in-out;

    svg {
        margin: 0 0 10px 10px;
        width: 100%;
    }

    &:hover {
        transform: scale(1.03);
        transition: all .2s ease-in-out;
    }
}