@use './vars.scss' as *;

.artwork-grid__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 5px;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 70px;

    @media (min-width: $break-s) { // 2 columns from 550px
        grid-template-columns: repeat(2, 1fr);
        gap: 7px; 
    }

    @media (min-width: $break-m) { // 3 columns from 767px
        grid-template-columns: repeat(3, 1fr);
        gap: 9px; 
    }
    
    @media (min-width: $break-l) { // 4 columns from 979px
        grid-template-columns: repeat(4, 1fr);
        gap: 11px
    }

    @media (min-width: $break-xl) { // 5 columns from 1200px
        grid-template-columns: repeat(5, 1fr);
        gap: 13px
    }
}

.artwork-grid__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.artwork-grid__image {
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.0) 3px 3px 3px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
    }
}

.artwork-grid__info {
    position: absolute;

    h3 {
        color: $grid-text;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
    }
}

.artwork-grid__info--series {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    p {
        font-size: 10px;
        font-weight: 500;
        color: $grid-text-light;
        filter: saturate(.3);
    }
}

.artwork-grid__info--series-box {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 3px;
}