@use './vars.scss' as *;

.artwork-grid__container {
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 70px;
  max-height: 100vh; /* Constrain height, adjust for margin-top */
  overflow-y: auto; /* Enable scrolling */
  scrollbar-width: none; /* Firefox: Hide scrollbar */
  -ms-overflow-style: none; /* IE/Edge: Hide scrollbar */
}

.artwork-grid__container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera: Hide scrollbar */
}

.artwork-grid__column {
  padding-bottom: 0;

  > div {
    margin-bottom: 5px; /* Default margin for vertical spacing */

    @media (min-width: $break-s) { margin-bottom: 7px; }
    @media (min-width: $break-m) { margin-bottom: 9px; }
    @media (min-width: $break-l) { margin-bottom: 11px; }
    @media (min-width: $break-xl) { margin-bottom: 13px; }
  }
}

.artwork-grid__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;

  svg {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; // Ensure PlayButtonSvg is above image
  }
}

.artwork-grid__image-wrapper {
  position: relative;
}

.artwork-grid__image {
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.0) 3px 3px 3px;
  transition: box-shadow .3s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
  }
}

.artwork-grid__placeholer-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 13px;
  pointer-events: none;

  p {
    font-weight: 800;
    font-size: 10px;
    color: $background;
  }
}

.artwork-grid__info {
  position: absolute;
  right: 0;
  bottom: -18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h3 {
    color: $grid-text;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
  }
}

.artwork-grid__info--series-box {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}