@use './vars.scss' as *;

.artwork-grid__container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 70px;
}

.artwork-grid__column {
    padding-bottom: 0;

    > div {
        margin-bottom: 5px; /* Default margin for vertical spacing */

        @media (min-width: $break-s) { margin-bottom: 7px; }
        @media (min-width: $break-m) { margin-bottom: 9px; }
        @media (min-width: $break-l) { margin-bottom: 11px; }
        @media (min-width: $break-xl) { margin-bottom: 13px; }
    }
}

.artwork-grid__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); 
    }
}

.artwork-grid__image-wrapper {
    position: relative;
}

.artwork-grid__image {
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.0) 3px 3px 3px;
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 3px;
    }
}

.artwork-grid__info {
    position: absolute;
    right: 0;

    h3 {
        color: $grid-text;
        font-size: 12px;
        font-weight: 300;
        line-height: 1.5;
    }
}

.artwork-grid__info--series {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    p {
        font-size: 10px;
        font-weight: 500;
        color: $grid-text-light;
        filter: saturate(.3);
    }
}

.artwork-grid__info--series-box {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 3px;
}