@use './vars.scss' as *;

.artwork-detail-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.artwork-detail__link {
  display: inline-block;
  line-height: 0; // Prevent extra space below the image
}

.artwork-detail__image-container {
  position: relative;
  display: inline-block;
  background-color: transparent;

  svg {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; // Ensure PlayButtonSvg is above image
  }
}

.artwork-detail__image {
  box-shadow: rgba(0, 0, 0, 0.0) 6px 6px 6px;
  transition: box-shadow .4s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 8px;
  }
}