@use './vars.scss' as *;
@use './fonts.scss' as *;

.bio-page__container {
    display: block;
}

.bio-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $background;
    padding: 0 5%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        background: transparent; /* Chrome/Safari/Webkit */
        width: 0px;
    }

    @media screen and (min-width: $break-m) {
        padding-left: calc((100vw - 650px) / 2);
        padding-right: calc((100vw - 650px) / 2);
    }

    @media screen and (min-width: $break-l) {
        padding-left: calc((100vw - 800px) / 2);
        padding-right: calc((100vw - 800px) / 2);
    }
}

.bio__content-container {
    width: 100%;
    padding: 120px 0 0;
}

.bio__content-wrapper {
    display: flex;
    flex-direction: column; 
    gap: 3rem;
}

.bio__close-container {
    position: fixed;
    top: 80px;
    right: 0;
    z-index: 5001;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .6;
    transition: opacity .3s ease-in-out;
    text-decoration: none;

    @media screen and (min-width: $break-s) {
        top: 103px;
        width: 42px;
        height: 42px;
    }

    @media screen and (min-width: $break-m) {
        top: 130px;
    }

    @media screen and (min-width: $break-l) {
        top: 135px;
    }

    &:hover {
        opacity: .9;
    }

    svg {
        width: 100%;
        fill: $title-dark;
    }

    p {
        font-size: 10px;
        color: $title-dark;
        font-weight: 300;
        letter-spacing: 0.05em;
    }
}

.bio__tagline {
    @include heading-font;
    font-style: italic;
    font-size: 20px;
    font-weight: 200;
    opacity: .6;
    color: $dark;
    padding: 20px 0;

    @media screen and (min-width: $break-s) {
        font-size: 22px;
    }
}

.bio__main-content {
    p {
        @include body-font;
        font-size: 14px;
        line-height: 1.5;
        padding-bottom: 30px;

         @media screen and (min-width: $break-s) {
            font-size: 18px;
         }
    }
}

// ---- Masonry Styles (CSS Grid) -------
.bio__masonry-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 7px;
  gap: 7px;
  width: 100%;
  padding: 0 0 49px;
  
  // Responsive breakpoints
  @media (max-width: 978px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (max-width: 549px) {
    grid-template-columns: 1fr;
  }
}

.bio__masonry-item {
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  cursor: pointer;
  
  &:hover {
    filter: grayscale(20%);
  }
}

.bio__image-masonry {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* --- Lightbox Modal --- */
.lightbox__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(211, 211, 211, 0.95);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.lightbox__overlay--open {
  opacity: 1;
  pointer-events: auto;
}

.lightbox__content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.lightbox__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: white;
  overflow: hidden;
  
  img {
    display: block;
  }
}

.lightbox__alt-text {
  color: $svg-dark;
  background: $background;
  border-top-right-radius: 10px;
  font-size: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  @include heading-font;
  font-size: 17px;
  font-weight: 400;
  padding: 7px 10px 7px 7px;
  line-height: 1.2;
}


/* Lightbox Navigation Controls */
.lightbox__controls {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 10001;
}

.lightbox__close {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px 0;

    svg {
        fill: $svg-dark;
        width: 100%;
    }
}

.lightbox__counter {
  font-size: 12px;
  color: $svg-light;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  font-weight: 500;
  text-align: center;
  padding: 3px 5px;
}

.lightbox__nav-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin: 4px 0 0;

  svg {
    width: 100%;
  }
}

.lightbox__nav-button--timer {
    position: relative;
    right: -3px;
    top: 3px;
}