@use './vars.scss' as *;
@use './fonts.scss' as *;
@use "sass:color";

@mixin transition($properties...) {
  transition: $properties;
}

.contact-page__container {
    display: block;
}

.contact__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $background;
    padding: 150px 10% 30px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        background: transparent;
        width: 0px;
    }
}

.contact__close-container {
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 5001;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .6;
    transition: opacity .3s ease-in-out;
    text-decoration: none;

    @media screen and (min-width: $break-s) {
        top: 58px;
        width: 42px;
        height: 42px;
    }

    @media screen and (min-width: $break-m) {
        top: 89px
    }

    @media screen and (min-width: $break-l) {
        top: 100px;
    }

    &:hover {
        opacity: .9;
    }

    svg {
        width: 100%;
        fill: $title-dark;
    }

    p {
        @include heading-font;
        font-size: 10px;
        color: $title-dark;
        font-weight: 300;
        letter-spacing: 0.05em;
    }
}

.contact-info__container {
    width: 100%;
    background: $background;
    position: relative;
    z-index: 3001;

    @media screen and (min-width: $break-m) {
        max-width: 550px;
        margin: 0 auto;
    }

    h2 {
        @include heading-font;
        color: $grid-text;
        padding: 0 0 5px;
        font-weight: 600;
    }

    h3 {
        @include heading-font;
        color: $grid-text;
        padding: 0 0 10px;
        font-weight: 500;
    }

    p {
        @include body-font;
        color: $art-image-text-light;
        line-height: 1.5;
        padding: 0 0 8px;
    }

    a {
        @include body-font;
        color: $art-image-text-dark;
        text-decoration: underline;
        font-weight: 500;
    }
}

.contact__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 0;

    label {
        @include heading-font;
        font-size: 14px;
        color: $art-image-text-dark;
        font-weight: 500;
    }

    input,
    textarea {
        @include body-font;
        width: 100%;
        padding: 10px;
        border: 1px solid $art-image-line;
        border-radius: 4px;
        background: white;
        font-size: 16px;
        color: $dark;

        &:focus {
            outline: none;
            border-color: $nav-highlight;
        }
    }

    textarea {
        min-height: 100px;
        resize: vertical;
    }

    button {
        @include heading-font;
        align-self: flex-start;
        padding: 10px 20px;
        background: $dark;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 600;
        transition: background 0.3s;

        &:hover {
            background: $medium;
        }
    }
}

.contact__alert {
    padding: 12px 16px;
    border-radius: 6px;
    margin: 16px 0;
    animation: slideDown 0.3s ease;

    .alert-icon {
      font-size: 1.25rem;
      font-weight: bold;
    }

    &.alert-error {
      background-color: rgba(231, 76, 60, 0.1);
      border: 1px solid rgba(231, 76, 60, 0.3);
      color: color.adjust($error-color, $lightness: 20%);
    }

    &.alert-success {
      background-color: rgba(39, 174, 96, 0.1);
      border: 1px solid rgba(39, 174, 96, 0.3);
      color: color.adjust($confirmation-color, $lightness: 20%);
    }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact__bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
  margin: 0 auto;
  max-width: 800px;

  .contact__datenschutz {
    @include heading-font;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;

    &:hover {
      text-decoration: underline;
    }

    svg {
      width: 15px;
      height: 15px;
      fill: $svg-dark;
    }
  }

  h1 {
    @include heading-font;
    color: $art-image-text-dark;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.05em;
    padding: 15px 0 0;
  }

  .contact__bottom--line {
    height: 1px;
    width: 100%;
    background: $art-image-line;
    margin: 10px 0;
  }

  h5 {
    @include heading-font;
    font-size: 16px;
    color: $art-image-text-dark;
    padding: 3px 0;
    font-weight: 500;
  }

  p {
    @include body-font;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
    color: $art-image-text-light;
    padding: 0 0 5px;
  }

  a {
    @include body-font;
    font-size: 13px;
    color: $art-image-text-dark;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}