@use './vars.scss' as *;
@use './fonts.scss' as *;

.cv__container {
    width: 100%;
    height: 100vh;
    background: $background;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        background: transparent;
        width: 0px;
    }
}

.cv__header {
    @include heading-font;
    font-size: 18px;
    color: $title-text-dark;
    margin: 0;
    padding: 0 0 5px;
    font-weight: 900;

    @media screen and (min-width: $break-s) {
        font-size: 22px;
    }
}

.cv__close-container {
    position: fixed;
    top: 84px;
    right: 73px;
    z-index: 5001;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .6;
    transition: opacity .3s ease-in-out;
    text-decoration: none;

    @media screen and (min-width: $break-s) {
        top: 10px;
        right: 190px;
        width: 42px;
        height: 42px;
    }

    @media screen and (min-width: $break-m) {
        top: 10px;
        right: 230px;
    }

    @media screen and (min-width: $break-l) {
        top: 10px;
        right: 260px;
    }

    &:hover {
        opacity: .9;
    }

    svg {
        width: 100%;
        fill: $title-dark;
    }

    p {
        @include heading-font;
        font-size: 10px;
        color: $title-dark;
        font-weight: 300;
        letter-spacing: 0.05em;
    }
}

.cv__print-button {
    position: fixed;
    right: 10px;
    top: 100px;
    transition: all .5s ease-in-out;
    cursor: pointer;

    @media screen and (min-width: $break-s) {
        top: 115px;
    }

    @media screen and (min-width: $break-m) {
        top: 140px;
    }
}

.cv__content {
    width: 90%;
    margin: 120px 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    @media screen and (min-width: $break-s) {
        width: 80%;
        margin: 120px auto;
    }

    @media screen and (min-width: $break-m) {
        width: 70%;
    }

    @media screen and (min-width: $break-l) {
        width: 60%;
        max-width: 800px;
    }
}

.cv__entry {
    margin-bottom: 20px;
    page-break-inside: avoid;

    h2 {
        @include heading-font;
        font-size: 16px;
        color: $art-image-text-dark;
        margin: 0 0 4px;
        font-weight: 600;
    }

    h3 {
        @include heading-font;
        font-size: 14px;
        color: $art-image-text-light;
        margin: 0 0 2px;
        font-weight: 500;
    }

    h4 {
        @include body-font;
        font-size: 13px;
        color: $art-image-text-dark;
        margin: 0;
        font-style: italic;
    }

    p {
        @include body-font;
        font-size: 14px;
        line-height: 1.5;
        color: $art-image-text-light;
        margin: 4px 0 0;
    }
}

// .name__container {
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 30px;

//     h1 {
//         @include heading-font;
//         font-size: 28px;
//         color: $art-image-text-dark;
//         margin: 0;
//         font-weight: 700;
//         letter-spacing: 0.02em;
//     }

//     p {
//         @include body-font;
//         font-size: 16px;
//         color: $art-image-text-light;
//         margin: 4px 0 0;
//     }
// }

/* ====================================== PRINT STYLES ====================================== */

@media print {
    @page {
        size: A4;
        margin: 20mm 15mm;
    }

    .cv__container {
        height: auto !important;
        overflow: visible !important;
        background-color: white !important;
    }
    
    .cv__print-button,
    .cv__title,
    .info-button__container {
        display: none !important;
    }

    .cv__content {
        width: 80% !important;
        margin: 0 auto !important;
        padding: 0 !important;
        display: block !important;
        position: static;
        max-width: 100%;
        page-break-after: always;
    }
    
    .cv__header {
        font-size: 14pt !important;
        margin-top: 10pt !important;
        padding-bottom: 2pt !important;
    }

    .cv__entry {
        margin-bottom: 1pt !important;
        page-break-inside: avoid !important;
        
        h2 { font-size: 9pt !important; }
        h3 { font-size: 8.5pt !important; }
        h4 { font-size: 8.5pt !important; }
        h5 { font-size: 8pt !important; }
    }
    
    .name__container {
        display: block !important;
        position: static !important;
        margin-bottom: 10pt; 
        page-break-after: avoid; 
    }
}