@use './vars.scss' as *;
@use './fonts.scss' as *;

// NAME

.name__container {
    position: fixed;
    z-index: 2000;
    background: $nav-background;
    top: 0;
    left: 0;
    padding: 7px;
    border-bottom-right-radius: 6px;
    min-width: 160px;
}

.name__full {
    @include title-font;
    font-size: 29px;
    color: $title-text-dark;
    line-height: 1;
    opacity: .9;
    letter-spacing: 0.03em;
}

.name__city {
    @include heading-font;
    font-size: 14px;
    font-weight: 300;
    color: $title-text;
    line-height: 1.1;
}

.name__location {
    font-size: 14px;
    font-weight: 300;
    color: $title-text;
}

.name__all-artwork {
    padding: 0 0 6px !important;
}

// BACK LINK
.name__back--container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8px;
    transition: opacity .5s ease-in-out;
    opacity: .7;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        opacity: 1; 
    }

    .name__back--svg {
        width: 16px;
        height: 16px;

        svg {
            fill: $title-text;
            width: 100%;
        }
    }

    p {
        font-size: 14px;
        font-weight: 800;
        color: $title-text;
        padding: 0 !important;
        margin: 0;
    }
}

// BUTTON

.info-button__container--background {
    position: fixed;
    z-index: 1999;
    top: 79px;
    left: 0;
    background: $nav-background;
    width: 150px;
    height: 50px;
}

.info-button__container {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 2001;
}

// CONTENT
.info__content {
    width: 149px;
    background: $nav-background;
    padding: 0 0 10px 8px;
    border-bottom-right-radius: 10px;
    position: relative;
    left: 0;
    transform: translateX(-169px);
    transition: all .5s ease-in-out;
    position: fixed;
    top: 129px;
    z-index: 2000;
}

.info__content--open {
    transform: translateX(0);
    transition: all .5s ease-in-out;
}

// DIVIDER
.info__divider {
    width: 30px;
    margin: 10px 0;
    height: 1px;
    background: $dark;
}

// INFO LINKS
.info-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    a {
        color: $dark;
        text-decoration: none;
        font-size: 19px;
        padding: 3px 0;
        font-weight: 700;
        opacity: .9;
        transition: all .2s ease-in-out;
        @include heading-font;

        &:hover {
            opacity: 1;

            &:after {
                display: inline-block;
                width: 5px;
                height: 5px;
                content: '';
                background-color: $nav-highlight;
                border-radius: 50%;
                margin: 0 0 0 3px;
            }
        }
    }
}

// INFO SOCIALS
.info-socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    @media screen and (min-width: $break-s) {
        flex-direction: column;
    }

    .info-socials__svg-container {
        margin: 0;
        margin: 0 10px 0 0;
        text-decoration: none;
        width: 30px;
        height: 30px;
        transform: scale(1);
        transition: transform .3s ease-in-out;

        @media screen and (min-width: $break-s) {
            margin: 0 0 10px 0;
        }

        svg {
            width: 100%;
            height: auto;
            fill: $dark;
        }

        &:hover {
            transform: scale(1.02);
        }
    }
}

// INFO WEBSITES
.info-websites {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    a {
        text-decoration: none;
        color: $dark;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 2px 0;

        h3 {
            font-size: 15px;
            font-weight: 400;
            padding: 0 0 4px 3px;
            margin: 0;
            @include heading-font;
            line-height: 1.2;
        }

        svg {
            width: 14px;
            height: 10px;
            fill: $dark;
            opacity: .8;
        }

        &:hover {
            svg {
                fill: $nav-highlight;
            }
        }
    }
}
