@use './vars.scss' as *;

// NAME

.name__container {
    position: fixed;
    z-index: 2000;
    background: $nav-background-light;
    top: 4px;
    left: 4px;
    padding: 3px 6px 6px 3px;
    border-bottom-right-radius: 6px;
}

.name__bernard {
    font-family: $heading;
    font-size: 26px;
    font-weight: 700;
}

.name__city {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 300;
}

.name__location {
    font-family: $body-font;
    font-size: 14px;
    font-weight: 300;
}

// BUTTON

.info-button__container {
    width: 24px;
    height: 24px;
    margin: 10px 0;
    cursor: pointer;
    position: fixed;
    z-index: 2001;
    background: $nav-background-light;
    top: 60px;
    left: 7px;
}

// CONTENT
.info__content {
    width: 120px;
    background: $nav-background;
    padding: 0 0 10px 8px;
    border-bottom-right-radius: 10px;
    position: relative;
    left: 0;
    transform: translateX(-120px);
    transition: all .5s ease-in-out;
    position: fixed;
    top: 100px;
    z-index: 2000;
}

.info__content--open {
    transform: translateX(0);
    transition: all .5s ease-in-out;
}

// DIVIDER
.info__divider {
    width: 30px;
    margin: 10px 0;
    height: 1px;
    background: $dark;
}

// INFO LINKS
.info-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    a {
        color: $dark;
        text-decoration: none;
        font-family: $heading;
        font-size: 19px;
        padding: 3px 0;
        font-weight: 700;
        opacity: .9;
        transition: all .2s ease-in-out;

        &:hover {
            opacity: 1;

            &:after {
                display: inline-block;
                width: 5px;
                height: 5px;
                content: '';
                background-color: $nav-highlight;
                border-radius: 50%;
                margin: 0 0 0 3px;
            }
        }
    }
}

// INFO SOCIALS
.info-socials {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .info-socials__svg-container {
        margin: 0;
        margin: 0 0 10px 0;
        text-decoration: none;

        svg {
            width: 100%;
            height: auto;
            fill: $dark;
        }

        &:hover {
            svg {
                fill: $nav-highlight;
            }
        }
    }

    .info-socials__insta {
        width: 28px;
        height: 25px;
    }

    .info-socials__tiktok {
        width: 28px;
        height: 25px;
    }

    .info-socials__youtube {
        width: 28px;
        height: 19px;
    }

    .info-socials__linkedin {
        width: 28px;
        height: 25px;
    }
}

// INFO WEBSITES
.info-websites {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    a {
        text-decoration: none;
        color: $dark;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3px 0;

        h3 {
            font-family: $body-font;
            font-size: 16px;
            font-weight: 400;
            padding: 0;
            margin: 0;
        }

        svg {
            width: 14px;
            height: 10px;
            fill: $dark;
            opacity: .8;
        }

        &:hover {
            svg {
                fill: $nav-highlight;
            }
        }
    }
}
