@use './vars.scss' as *;

.menu-link {
    width: 100%;
    height: 100%;
    position: relative;
}

.lines {
    transition: all 0.2s ease 0.4s;
    display: block;
    width: 60%;
    height: 2px;
    background: $svg-dark;
    transform-origin: 50% 50%;
    margin: 0 20%;
    position: relative;
    top: 24px;

    &:hover {
        background: $svg-light;
    }

    &:before,
    &:after {
        display: block;
        width: 100%;
        height: 2px;
        background: $svg-dark;
        transform-origin: 0 50%;
        position: absolute;
        left: 0;
        content: '';
        transition: all 0.2s ease 0s, width 0.2s ease 0.2s, top 0.2s ease 0.4s;
    }

    &:before {
    top: -12px;
    width: 100%;
    }

    &:after {
    top: 11px;
    width: 53%;
    }
}

.plus-symbol {
    position: absolute;
    bottom: 0;
    right: 8px;
    width: 14px;
    height: 14px;
    transition: all 0.3s ease;
    opacity: 1;

    &:before,
    &:after {
    content: '';
    position: absolute;
    background-color: $svg-dark;
    }

    &:before {
    left: 50%;
    top: -50%;
    width: 2px;
    height: 14px;
    transform: translateX(-50%);
    }

    &:after {
    top: 0;
    left: 0;
    width: 14px;
    height: 2px;
    transform: translateY(-50%);
    }
}

.menu-link:hover .plus-symbol {
    &:before,
    &:after {
        background-color: $sold;
        transition: background-color .3s ease-in-out;
    }
}

.menu-trigger-open {
    .lines {
        transition: all 0.2s ease 0s;

        &:before,
        &:after {
            transition: top 0.2s ease 0s, width 0.2s ease 0.2s, transform 0.2s ease 0.4s;
            top: 0;
            width: 40%;
        }

        &:before {
            transform: rotate3d(0, 0, 1, 45deg);
        }

        &:after {
            transform: rotate3d(0, 0, 1, -45deg);
        }
    }

    .plus-symbol {
        opacity: 0;
    }
}