@use './vars.scss' as *;

.nav-container {
    position: fixed;
    right: 0;
}

.nav-button {
    opacity: .9;
    cursor: pointer;
    height: 34px;
    width: 33px;

    svg {
        width: 100%;
    }

    .svgs-light-fill {
        transition: opacity .5s ease-in-out;
    }
}

// SEARCH NAV
.search-button {
    transform: translateX(0);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.search-button--open {
    transform: translateX(-150);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.search-nav__container {
    position: fixed;
    right: 0;
    width: 150px;
    height: 25px;
    transform: translateX(150);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
    border-top: 1px solid $svg-dark;
    border-bottom: 1px solid $svg-dark;
    z-index: 7001;
}

.search-nav__container--open {
    transform: translateX(0);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.search-nav__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 23px;
    font-size: 13px;
    padding: 0 5px;
    color: $svg-dark;
    position: relative;
}

.search-nav__close {
    width: 20px;
    height: 18px;
    position: absolute;
    right: 2px;
    top: 4px;
    cursor: pointer;
    background: $background;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 100%;
        fill: $svg-dark;
    }       
}

.search-nav__matched-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    background: $nav-background;
    width: 150px;
    max-height: 400px;
    cursor: pointer;
    overflow: hidden;
}

.search-nav__matched-inner {
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.search-nav__matched-item {
    display: flex;
    flex-direction: column;
    padding: 0 0 5px;
    text-decoration: none;
    opacity: .8;
    transition: opacity .3s ease-in-out;

    &:hover {
        opacity: 1;
    }

    h3 {
        font-size: 10px;
        color: $title-text-dark;
    }

    p {
        font-size: 9px;
        font-style: italic;
        color: $title-text-dark;
    }
}

// FILTER NAV
.filter-button {
    transform: translateX(0);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.filter-button--open {
    transform: translateX(-174);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.filter-nav__container {
    position: fixed;
    right: 0;
    transform: translateX(200);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
    // border-top: 1px solid $svg-dark;
    // border-bottom: 1px solid $svg-dark;
    // border-left: 1px solid $svg-dark;
    background: $svg-light;
    top: 79px;
    padding: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-bottom-left-radius: 22px;
    width: 174px;
    max-height: 400px;
    overflow: hidden;

    @media screen and (min-width: $break-m) {
        top: 204px;
    }
}

.filter-nav__container--open {
    transform: translateX(0);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.filter-nav__container--inner {
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.filter-nav__close-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: .8;
    transition: opacity .4s ease-in-out;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 20px;
        height: 20px;
        stroke: $svg-dark;
    }

    p {
        color: $svg-dark;
        font-size: 9px;
        font-weight: 300;
        margin: 0;
        padding: 2px 0 0 0;
    }
}

.filter-nav__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid $svg-light;
    padding: 10px 0;

    h3 {
        font-family: $heading;
        color: $filter-text;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    svg {
        fill: $filter-text;
    }
}

.filter-nav__line {
    width: 30px;
    height: 1px;
    background: $svg-dark;
    margin: 0 0 10px auto;
}

.filter-nav__item--container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin: 0 0 6px;
}

.sort-nav__item--container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    margin: 0 0 6px;
}

// SORTING

.filter-nav__header--sort {
    svg {
        width: 20px;
        height: 20px;
    }
}

.sorting-nav__box {
    background: $svg-dark;
}

// FILTERS

.filter-nav__header--filters {
    svg {
        width: 20px;
        height: 20px;
    }   
}

.filter-nav__name {
    font-size: 12px;
    font-weight: 400;
    color: $filter-text;
    margin: 0 4px;
}

.filter-nav__name--active {
    font-weight: 800;
}

.filter-nav__box {
    width: 20px;
    height: 20px;
}