@use './vars.scss' as *;

.nav-container {
    position: fixed;
    right: 0;
}

.nav-button {
    opacity: .9;
    cursor: pointer;
    height: 34px;
    width: 33px;

    svg {
        width: 100%;
    }

    .svgs-light-fill {
        transition: opacity .5s ease-in-out;
    }
}

// SEARCH NAV
.search-button {
    transform: translateX(0);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.search-button--open {
    transform: translateX(-150);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.search-nav__container {
    position: fixed;
    top: 14px;
    right: 0;
    width: 150px;
    height: 25px;
    transform: translateX(150);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
    border-top: 1px solid $svg-dark;
    border-bottom: 1px solid $svg-dark;

    @media screen and (min-width: $break-m) {
        top: 137px;
    }
}

.search-nav__container--open {
    transform: translateX(0);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.search-nav__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 23px;
    font-size: 13px;
    padding: 0 5px;
    margin-left: 4px;
    color: $svg-dark;
    position: relative;
}

.search-nav__close {
    width: 20px;
    height: 18px;
    position: absolute;
    right: 2px;
    top: 4px;
    cursor: pointer;
    background: $background;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 100%;
        fill: $svg-dark;
    }       
}

// FILTER NAV
.filter-button {
    transform: translateX(0);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.filter-button--open {
    transform: translateX(-200);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.filter-nav__container {
    position: fixed;
    right: 0;
    width: 200px;
    height: 400px;
    transform: translateX(200);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
    // border-top: 1px solid $svg-dark;
    // border-bottom: 1px solid $svg-dark;
    // border-left: 1px solid $svg-dark;
    background: $svg-dark;

    @media screen and (min-width: $break-m) {
        top: 204px;
    }
}

.filter-nav__container--open {
    transform: translateX(0);
    transition: all .6s cubic-bezier(.8,.1,0.2,1);
}

.filter-nav__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-bottom: 1px solid $svg-light;
    margin: 5px;
    padding: 5px;

    h3 {
        font-family: $heading;
        color: $svg-light;
        font-size: 14px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    svg {
        fill: $svg-light;
    }
}

.filter-nav__item--container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

// SORTING

.filter-nav__header--sort {
    svg {
        width: 40px;
        height: 20px;
    }
}

.sorting-nav__box {
    background: $svg-light;
}

// FILTERS

.filter-nav__header--filters {
    svg {
        width: 20px;
        height: 40px;
    }   
}

.filter-nav__name {
    font-size: 12px;
    font-weight: 400;
    color: $svg-light;
}

.filter-nav__name--active {
    font-weight: 800;
}

.filter-nav__box {
    width: 20px;
    height: 20px;
}