@use './vars.scss' as *;
@use './fonts.scss' as *;

.statement-page__container {
    display: block;
}

.statement__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $background;
    padding: 0 10%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        background: transparent;
        width: 0px;
    }

    @media screen and (min-width: $break-m) {
        padding-left: calc(50vw - 325px);
        padding-right: calc(50vw - 325px);
    }

    @media screen and (min-width: $break-l) {
        padding-left: calc(50vw - 400px);
        padding-right: calc(50vw - 400px);
    }
}

.statement__content {
    padding: 130px 0 30px;

    p {
        @include body-font;
        font-size: 14px;
        line-height: 1.7;
        padding-bottom: 30px;
        text-indent: 20px;

         @media screen and (min-width: $break-s) {
            font-size: 18px;
         }
    }
}

.statement__close-container {
    position: fixed;
    top: 45px;
    right: 0;
    z-index: 5001;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: .6;
    transition: opacity .3s ease-in-out;
    text-decoration: none;

    @media screen and (min-width: $break-s) {
        top: 62px;
        width: 42px;
        height: 42px;
    }

    @media screen and (min-width: $break-m) {
        top: 79px
    }

    @media screen and (min-width: $break-l) {
        top: 108px;
    }

    &:hover {
        opacity: .9;
    }

    svg {
        width: 100%;
        fill: $title-dark;
    }

    p {
        @include heading-font;
        font-size: 10px;
        color: $title-dark;
        font-weight: 300;
        letter-spacing: 0.05em;
    }
}