@use './vars.scss' as *;

.svgs-light-fill {
    fill: $svg-light;
}

.svgs-face-fill {
    fill: $svg-face;
}

.svg-face-fill-filtered {
    fill: #FFE6D2;
}
.svgs-light-stroke{
    stroke: $svg-light;
}

.svgs-dark-fill {
    fill: $svg-dark;
}

.svgs-dark-stroke {
    stroke: $svg-dark;
}

.svgs-transparent-fill {
    fill: transparent;
}

.svgs-transparent-stroke {
    stroke: transparent;
}

.timer-svg__background-circle {
    stroke: rgba(255, 255, 255, .3);
}

.timer-svg__progress-circle {
    stroke: $svg-light;
}