// COLORS
$background: #FDFEFF;
$light: #696969;
$medium: #464646;
$dark: #393B3E;

$box: #393B3E;

$sold: #d4af37;
$war: #6D2E46;
$ach: #9DC3C2;
$meg: #FC7753;
$dcs: #F6BD60;
$col: #99C2A2;
$van: #7B8CDE;
$og: #395B0E;
$ins: #A27E8E;
$pho: #2D4654;
$vid: #996a3e;

$svg-light: #FDFEFF;
$svg-dark: #393B3E;

$timeline: #878585;

$nav-background: rgba(255,255,255,.8);

$confirmation-color: #56ba5a;
$warning-color: #f0ad4e;
$error-color: #d9534f;

$nav-highlight: #56dad0;

// BREAKPOINTS
$break-s: 550px;
$break-m: 767px;
$break-l: 979px;
$break-xl: 1200px;

// FONTS
$title: "Staatliches", sans-serif;
$heading: "Sofia Sans Extra Condensed", sans-serif;
$body-font: "Barlow Condensed", sans-serif;

:root {
    --dark-color: #{$dark};
    --light-color: #{$light};
    --medium-color: #{$medium};
    --confirmation-color: #{$confirmation-color};
    --warning-color: #{$warning-color};
    --error-color: #{$error-color};
    --nav-highlight: #{$nav-highlight};
}