// COLORS
$background: #FDFEFF;
$light: #696969;
$medium: #464646;
$dark: #393B3E;

$box: #393B3E;

// ART COLORS
$sold: #d4af37;
$war: #6D2E46;
$ach: #9DC3C2;
$meg: #FC7753;
$dcs: #F6BD60;
$col: #99C2A2;
$van: #7B8CDE;
$og: #395B0E;
$ins: #A27E8E;
$pho: #2D4654;
$vid: #996a3e;

$svg-light: #efefef;
$svg-face: #eee;
$svg-dark: #666;

$title-light: #efefef;
$title-dark: #999;
$title-space: 15px;
$title-shadow: #ddd;
$title-text: #666;
$title-text-dark: #444;

$art-image-background: #f4f4f4;
$art-image-line: #999;
$art-image-text-light: #666;
$art-image-text-dark: #444;
$art-image-heading: #ddd;
$art-image-even: #dedede;
$art-image-odd: #eee;

$grid-text: #222;
$grid-text-light: #999;

$timeline: #878585;

$filter-background: #efefde;
$filter-text: #454565;
$nav-background: rgba(255,255,255,.8);
$nav-background-light: rgba(255,255,255,.3);

$confirmation-color: #56ba5a;
$warning-color: #f0ad4e;
$error-color: #d9534f;

$nav-highlight: #b9b9b9;

// BREAKPOINTS
$break-s: 550px;
$break-m: 767px;
$break-l: 979px;
$break-xl: 1200px;

// FONTS
$title: "Staatliches", sans-serif;
$heading: "Sofia Sans Extra Condensed", sans-serif;
$body-font: "Barlow Condensed", sans-serif;

:root {
    --dark-color: #{$dark};
    --light-color: #{$light};
    --medium-color: #{$medium};
    --confirmation-color: #{$confirmation-color};
    --warning-color: #{$warning-color};
    --error-color: #{$error-color};
    --nav-highlight: #{$nav-highlight};
    --title-light: #{$title-light};
    --title-dark: #{$title-dark};
    --title-space: #{$title-space};
    --title-shadow: #{$title-shadow};
    --title-text: #{$title-text}; 
}